@using Feud.Server.Data
@using Feud.Server.Services
@using Microsoft.Extensions.Logging
@inject IFeudHostService FeudHostService
@inject NavigationManager NavigationManager

@if (Answer.AnswerAvailable)
{
	<div class="host-answer-item">
		<span>@Answer.Number</span>
		<button class="@(Answer.AnswerVisible ? "answer-shown" : "answer-hidden")" @onclick="@(e => ToggleAnswer(Answer.Number))">@(Answer.AnswerVisible ? "Hide" : "Show")</button>
		<VisibleAnswer Answer="@Answer"></VisibleAnswer>
	</div>
}

@code {
	[Parameter]
	public string BoardId { get; set; }

	[Parameter]
	public QuestionAnswer Answer { get; set; }

	protected void ToggleAnswer(int number)
	{
		try
		{
			FeudHostService.ToggleAnswer(BoardId, number);
		
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

}
