@using Feud.Server.Data
@using Feud.Server.Services
@inject IJSRuntime JSRuntime
@inject IFeudHostService FeudHostService
@inject NavigationManager NavigationManager

<div class="host-panel">
	<div class="guest-url">
		<span>Guest Url</span>
		<a href="@FullGuestUrl" target="_blank">@FullGuestUrl</a>
		@*<button @onclick="CopyGuestUrlToClipboard">Copy Url</button>*@
	</div>
	<div class="vert-gap"></div>
	<div class="answer-list">
		@for (var i = 0; i < QuestionBoard.Answers.Count / 2; i++)
		{
			var index = i;
			var answer = QuestionBoard.Answers[index];

			<div class="answer-pair">
				<HostAnswerListItem BoardId="@QuestionBoard.Id" Answer="QuestionBoard.Answers[index]"></HostAnswerListItem>

				@if (index + 5 < QuestionBoard.Answers.Count)
				{
					<HostAnswerListItem BoardId="@QuestionBoard.Id" Answer="QuestionBoard.Answers[index + 5]"></HostAnswerListItem>
				}
			</div>
		}
	</div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div class="strike-list-buttons">
		@for (int i = 0; i < QuestionBoard.Strikes.Count; i++)
		{
			var index = i;

			<div class="strike-list-item-button">
				<button class="@(QuestionBoard.Strikes[index].StrikeVisible ? "strike-shown" : "strike-hidden")" @onclick="@(e => ToggleStrike(index))">Strike @(index+1)</button>
			</div>
		}
	</div>
	<div class="vert-gap"></div>
	<div class="vert-gap"></div>
	<div class="reset-button">
		<button @onclick="Reset">Reset</button>
	</div>
</div>

@code {
	[Parameter]
	public QuestionBoard QuestionBoard { get; set; }

	public string FullGuestUrl => NavigationManager.BaseUri + QuestionBoard.GuestUrl;

	protected void ToggleStrike(int index)
	{
		try
		{
			FeudHostService.ToggleStrike(QuestionBoard.Id, index);
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

	protected void Reset()
	{
		try
		{
			FeudHostService.Reset(QuestionBoard.Id);
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}

	private async Task CopyGuestUrlToClipboard()
	{
		try
		{
			await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", FullGuestUrl);
		}
		catch (Exception ex)
		{
			Program.Logger.Log(NLog.LogLevel.Error, ex);
			NavigationManager.NavigateTo("error");
		}
	}
}
